/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2017, 11:32:34 AM
    Author     : valintin
*/

.posts-items{
    width:100%; 
    float:left; 
    margin-bottom:15px; 
    border-bottom:1px solid gray; 
    padding-bottom:15px;
}
.posts-items .posts-content{
    margin-top:15px;
}
.post-title{
    border-bottom: 1px solid gray;
}
.similars{
    list-style-type:none; padding:0px;
}
#comment-list{
    list-style-type:none;
    padding:0px;
    margin-top:15px;
}
#comment-list li{
    border-bottom:1px solid gray;
    padding:5px;
}
.comments-content{
    width:100%; 
    float:left; 
    border-bottom:1px solid gray; 
    padding-bottom:10px;
}
.btn-commnets-accept-refuse{
    float:left; 
    margin-right: 5px;
}